.navbar
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#2563eb;
    color:white;
    padding:18px 40px;
    box-shadow:0 2px 10px rgba(0,0,0,.15);
}

.navbar h2
{
    font-size:28px;
}

.navbar div
{
    display:flex;
    gap:20px;
    align-items:center;
}

.navbar a
{
    color:white;
    font-weight:bold;
    transition:.3s;
}

.navbar a:hover
{
    color:#dbeafe;
}

.navbar button
{
    background:#ef4444;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:6px;
    font-weight:bold;
}

.navbar button:hover
{
    background:#dc2626;
}